/* general */
html {
    --color-1:#fff;
    --color-bg:#383736;
    --color-2:#ff00b5;;
    --color-badge:white;
    --color-3:rgb(83, 7, 7);
    --color-bg-2:#1f1f1f54;
    --color-error:red;
    color: var(--color-1);
    --color-timeline : yellow;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;   
    
}
main {
    flex-grow:1;
}
body {
    background-color: var(--color-bg);
    background: url('../img/glacier.jpg');
    background-attachment: fixed;
    min-height:100vh;
    position: relative;
    overflow-x: hidden;
}
img {
    max-width: 100%;
    border-radius: 10px;    
}
i {
    padding:0 0.5em;
}
small {
    font-size: 1rem;
}
.home {
    height: 100vh;
    overflow: hidden;
}

.container {
    width:100%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;   
}


/* Header */

header {
    opacity:1;
    border-bottom: 2px solid var(--color-2);
}

.title, .nav {
    background-color: var(--color-bg);
}
.work, .parcours, .contact, .work nav, .parcours nav, .contact nav {
    opacity: 1;
}
.work .title, .parcours .title, .contact .title {
    opacity:0.85;
}
 
.title {
    padding:1em;
    text-align: center;
    font-size: 2em;
}


/* nav */

#main-nav {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    color:var(--color-1);
    font-size: 1.2em;
    background-color: var(--color-bg);
    z-index: 100;
   
}

#main-nav ul {
    display: flex;
    border-top:2px solid var(--color-2);
}
#main-nav ul li {
    color: var(--color-2);
    font-weight: bold;
    padding:0.5em 1em;
    flex-grow: 1;
}

#main-nav ul li a {
    display: block;
    display: flex;
   flex-direction: column;
    align-items: center;  
}
#main-nav ul li i {
    color: var(--color-2);
    padding:.5em 0;
 }
#main-nav ul .active {
    color: var(--color-1);
    background-color: var(--color-2);
 }
 #main-nav ul .active i {
    color: var(--color-1);
 }

 .hidden {
    display: none;
}
.visible {
    display: block;
}

/* main */

.home main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Home */
#target {
    margin-left:2rem;
    font-size: 4em;
    display: flex;
    animation: color 30s alternate infinite;
}
/* CV */
/* nav */
.cv nav ul {
    display: flex;
    justify-content: center;
    padding:1em;
}
.cv nav ul li a {
    display: block;
    padding:.7em 1em;
    margin:0.5em;
    border-radius: 5px;
    background-color: var(--color-3);
}
.cv nav ul li a:hover {
    color:var(--color-3);
    background-color: var(--color-1);
}
#back-to-top {
    position: fixed;
    bottom:2em;
    right:0;
    font-size: 3em;
    color:var(--color-2);
    z-index: 100;
}
/* CV infos */
.cv-section {
    border-top:30px solid var(--color-1);
    color:var(--color-bg);
    margin-bottom: 3em;
    position: relative;
}

/* .cv-section__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
} */
.cv-section h2 {
    padding:2em 3em;
    width:100%;
    text-align: center;
    color:var(--color-1);
    font-size: 1.5em;
}
.cv-section i {
    padding-right:1em;
}

.cv-section__infos {
    color: var(--color-bg);
   
    width:100%;
    max-width:1200px;
    margin:2em auto;
    
    border-radius: 5px;
    padding:.5em 1em;
    font-size: 1.1em;
   
    
    }
.cv-section__infos:not(.skills-section__infos) {
    background-color: rgba(255, 255, 255, 0.85);
}
    
   
.cv-section__container {
    margin:auto;
    padding: 0 .5em;
    
}
.cv-section__infos p {
    line-height: 1.2em;
   
}

.cv-section__infos p:first-child {
    font-weight: bold;
    font-size: 1.3em;
} 
.cv-section__infos .dates {
    font-size: 1em;
    font-style: italic;
}
.scroll {
    display: none;
}
/* Compétences */

.skills-title {
    padding:0.5em 0 ;
    font-size: 1.5em;
    color:var(--color-1);
    border-bottom: 2px solid var(--color-2);
}
.skills-section {
    width:100%;
    max-width:500px;
    font-size: 1.3em; 
    margin:0 auto;
    
}

.skills-section__name {
    margin:0.5em 0;
    color:var(--color-1);
}
.skills-section__progress-bar {
    height:2.5em;
    border: 2px solid var(--color-badge);
}
.skills-section__progress-bar .full {
    height:100%; 
}
#divers i {
    font-size: 1.5em;
}


/* Contact */

#contact {
    background-color: white;
    padding:2em;
    color:var(--color-bg);
    width:100%;
    max-width: 1200px;
    margin:auto;
}
.contact-infos {
    padding:2em 0;
 }
.contact-infos h2 {
    font-size: 1.5em;
    margin:1em 0;
    font-weight: bold;
}
.contact-infos p {
    padding:.5em;
}
.contact-infos p:first-child {
    font-weight: bold;
    color:var(--color-2);
 }
.contact-infos a:hover {
    border-bottom: 1px solid var(--color-2);
}
.fa-linkedin{
   font-size: 2em;
}


#contact form {
    border-top:3px solid var(--color-2);
    margin:auto;
    max-width:800px;
    padding:2em 0;
 }
 
#contact .form-control {
    display: flex;
    flex-direction: column;
    margin:.5em auto;      
}

#contact .form-control.message textarea {
    height:5em;
}
#contact input, textarea {
    display: block;
    padding:1em;
    outline: none;
    border:none;
    background-color: rgb(211, 205, 204);
}
#contact label {
    padding:.5em;
    order:-1;
    background-color: var(--color-bg);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

#contact input:focus + label, #contact textarea:focus + label  {
    background-color: var(--color-2);
}
#submitBtn {
    vertical-align: middle;
    font-size: 1.3em;
    border-radius: 5px;
}
#submitBtn:hover {
    background-color: var(--color-2);
    color: var(--color-1);
    transition: all .5s;
}

.error {
    height:1em;
    color: var(--color-error);
    font-size: 0.8em;
}



/* Portfolio */

.work select {
    margin:1em auto;
    padding:.5em;
    border-radius: 10px;
    outline: none;
    border:none;
    color: white;
    background-color: var(--color-bg);
    
}
.portfolio { 
    max-width: 100%;
    width:100%;

}
.portfolio__image {
    margin:.5em auto;
    min-width: 3em;
    max-width:500px;
    width:100%;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    display: flex;
   border:1px solid var(--color-2); 
}

.portfolio__text-container {
    width:100%;
    height: 100%; 
} 
.portfolio__text {
    width:100%;
    font-style: italic;
    font-weight: bold;
    font-size:1.3em;
    line-height: 1.5em;
    text-align: center;
}
.portfolio__badges {
    display: flex;
    flex-wrap: wrap;
    padding:1em;
    justify-content: center; 
}

.portfolio__badge {
    margin:.3em;
    padding: 0 1em;
    max-width:fit-content;
    font-size: 0.7em;
    opacity:0.85;  
}

.img-mobile {
    height:10em;
    width:30%;
    margin:auto 0;
    margin:1em;
}

.portfolio__link {
    font-size: 0.5em;
}
.portfolio__link:hover {
    color: var(--color-2);
}


/* footer */
footer {
    text-align: center;
    padding:2em;
}

/* keyframes */


@keyframes bubbles {
    0% {
        transform: translateX(50%) scale(1);
    }
    50% {
      transform:translateX(50%) scale(8);
      background-color: #bccde6;
    }
    100% {
        transform: translateX(50%) scale(1);
        background-color: #d2dcf7;
    }
}

@keyframes color {
    0%{color:rgb(38, 133, 241)}
    50%{color:#15dae0}
    100%{color:rgb(38, 133, 241)}
}


@media (min-width:540px) {
    .portfolio__image {
        flex-direction: row;
    }
   
}
@media(min-width:768px)  {
    #contact {
        width:80%;
    }
    #contact .form-control {
        flex-direction: row; 
    }
    #contact .form-control.message { 
        height:5em; 
    }
    #contact .form-control.message textarea {
        height:100%;
    }
    
    #contact label {
        width:30%;
        padding:1em;
    }
    #contact input:not(#submitBtn), textarea {
        width:70%;
        padding:.5em;
    }
    #submitBtn {
        width: 100%;
        margin:0 auto;
    }

}
@media(min-width:900px)  {
    .portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .portfolio__image {
        width:48%;
    }
    .cv nav {
        height:84vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cv nav ul {
       flex-direction: column;
       width: 70%;
    }

    .cv nav ul li:nth-child(odd) {
        align-self: flex-start;
        
    }
    .cv nav ul li:nth-child(even) {
        align-self: flex-end;
    }
    .cv nav ul li a {
            font-size: 3em;
            background-color: transparent;       
}
    .cv-section {
        height:100vh;
        position: relative;
    }
    .cv-section__container {
        position: relative;
    }
    #divers .cv-section__container {
        min-height: 50vh;
        margin:auto;
    }
    .cv-section__container:not(.skills)::before {
        
            content: '';
            position:absolute;
            left:50%;
            width:2px;
            top:1em;
            bottom: 1em;
            background:#fff;
            z-index:1;
          
    }

   .left {
       float: left;

   }
   .right {
       float: right;
   }
   #competences .cv-section__container {
    display: flex;
    }   
    #competences .cv-section__infos {
        border:none;
    }
   .cv-section__infos:not(.skills-section__infos) {
    background-color: transparent;
    color:var(--color-1);
   }
   .skills-section__infos {
       margin:0 auto;
   }
    .cv-section__infos:not(.skills-section__infos)  {
        
        width:50%;
        margin:0;
        position: relative;
    }
    .cv-section__timeline {
        height:2em;
        width:2em;
        position: absolute;
        top:50%;
        border-radius: 50%;
        z-index: 100;
        }
    .left .cv-section__timeline {
        right:0;
        transform: translate(50%, -50%);
        background-color: var(--color-2);
    }
    .right .cv-section__timeline {
        left:0;
        background-color: var(--color-bg);
        transform: translate(-50%, -50%);
    }
    #back-to-top {
        color: white;
    }
  
    .scroll  {
        display: block;
        font-size: 5em;
        position: absolute;
        bottom:1.5em;
        left:50%;
        transform: translateX(-40%);
        color: var(--color-1);
      
    }

   
    .clear {
        clear: both;
    }
 
}

@media (min-width:1100px) {
    header {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-bg);
        opacity:0.6;
    }

    #main-nav {
        position: static;
    }
    
    #main-nav ul {
        border:none; 
    }

    #main-nav ul li {
        padding:0 2em;
        color:var(--color-1);
        font-family: 'Nanum Gothic', sans-serif;
    }
    .menu-icon {
        visibility: hidden;
    }
    #main-nav ul .active {
        color: var(--color-2);
        background-color: transparent;
         
     }
     #main-nav ul li:hover {
        color: var(--color-2);
        background-color: transparent;    
     }
    /* Home  */
    #target {
        font-size: 6em;
    }
    #bubble {
        width:5em; 
        height:5em;
        background-color: #e5aee6;
        position:absolute;
        bottom:-3em;
        right:0;
        z-index: -1;
        border-radius: 50%;
        animation: bubbles 5s linear infinite ;
        animation-direction: alternate;
    }
    
    /* CV */
    
    /* Contact */
    #contact {
        display: flex;
        align-items: center;
    }
    #contact form {
        border:none;
        flex-grow:1;
        padding:2em;
        max-width:800px;
    }

    .contact-infos  {
        padding:2em; 

    }

    .contact main {
        display: flex; 
        
    }
    /* Portfolio */
    .work main {
        display: flex;
        flex-direction: column;
    }
    .portfolio {
        flex-wrap: nowrap;
        align-content: center;
        min-width:500px ;
        max-width: 1200px;
        flex-grow: 1;
        margin:2rem auto;
    }
    .portfolio__image {
        width:13em;
        margin: .5em;
        transition:.5s ease;
        max-height:40vh;
        border:none;
    }

    .active-img {
        flex-grow:100;
        max-width: 100%;
    }
    .active-img .portfolio__text-container {
        display: flex;
        transform: translateY(0px);
    }

    .portfolio__text-container {
        transform: translateY(400px);
        display: none;
        transition: 5s ease;
        background: linear-gradient(354deg, black 0%, transparent 80%);
    
    } 
    .portfolio__text {
       align-self: flex-end;
    }
    .scroll {
        bottom: 0;
    }
    .cv-section__infos:not(.skills-section__infos)  {
        margin:1em 0;
       
    }
    
}