/* general */
html {
    --color-1:white;
    --color-secondary:#f3eff5;
    --color-bg:#383736;
    --color-2:#9558eb;
    --color-badge:white;
    --color-3:rgb(83, 7, 7);
    --color-bg-2:#1f1f1f54;
    --color-error:red;
    --color-skills:#09208e;
    color: var(--color-bg);
    font-size:1.1em;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;   
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;     
}

body {
    background-color: var(--color-secondary);
    position: relative;
    width:100%;
}
img {
    max-width: 100%;
    border-radius: 10px;    
}
i {
    padding:0 0.5em;
}
small {
    font-size: 1rem;
}


/* General for main  */
.hidden {
    display: none;
}
.visible {
    display: block;
}
section {
    width:100%;
    padding:2em 0;
}


h2 {
    color:black;
    padding:1em;
    font-size:2em;
    font-family: 'Permanent Marker', cursive;
}
#back-to-top {
    position: fixed;
    bottom:2em;
    right:0;
    font-size: 3em;
    color:var(--color-bg);
    z-index: 100;
    display: none; 
}
/* Header */

header {
    font-family:'Permanent Marker', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title {
    padding:1em;  
    width:100%;
}
.header-title small {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}

/* nav */

#main-nav {
    position: fixed;
    font-size: 0.7em;
    bottom: 0;
    left:0;
    right:0;
    color:var(--color-1);
    background-color: var(--color-bg);
    z-index: 100;  
}

#main-nav ul {
    display: flex;
    border-top:2px solid var(--color-2);
}
#main-nav ul li {
    padding:0.5em 1em;
    flex-grow: 1;
}
#main-nav ul li:hover {
    background-color: var(--color-2);
    color:var(--color-1);
}
#main-nav ul li i {
    padding:.5em 0;
    display: block;
}
nav ul li.active {
    color: var(--color-1);
    background-color: var(--color-2);
}
nav ul li.active i {
    color: var(--color-1);
}
/* Hamburger  */
#hamburger.visible, #back-to-top.visible {
    display: block;
}
#hamburger {
    display: none;
    width: 50px;
    height: 35px;
    position:fixed;
    top:20px;
    right:40px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 100;
}
#hamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;   
    transition: .5s ease-in-out;
}
#hamburger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}
#hamburger span:nth-child(2) {
    top: 18px;
    transform-origin: left center;
}
#hamburger span:nth-child(3) {
    top: 36px;
    transform-origin: left center;
}
#hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}
#hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
#hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}
#hamburger #hamburger-nav ul {
    display: none;
} 
#hamburger.open #hamburger-nav ul {
    display: inline-block;
    opacity:1;
}
#hamburger .hamburger-nav-list {
    position: absolute;
    top:-20px;
    right:-40px;
    background-color: var(--color-1);
    color:black;
    z-index:-1;
    width:100vw;
    padding:1em;
    border: 1px solid black;
}
#hamburger .hamburger-nav-list ul {
   font-size: 0.8em;
    color: gray;
} 
#hamburger .hamburger-nav-list li{  
   padding:1em;
   display: flex;
   flex-direction: column;
}

/* main */
#home {
    background: url('../img/web-mobile.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding:0;    
    align-items: center;
    min-height:85vh;
}


/* Home */
.home-letters {
    color:var(--color-1);
    backdrop-filter: blur( 2px );
    padding:1em;
    margin-bottom: 1em;
    font-size: 1.2em;
}
#target {
    min-height:1.2em
}
.home-scene {
    position: relative;   
}
.home-scene__text {
    position: relative;
    background: #36343450;
    color:var(--color-1);
    box-shadow: 5px 5px 7px 0px #000000;
    width: 15em;
    border-radius: 10px;
    padding: 1.5em;
    border: 2px solid black;
}
/*Arrow*/
.home-scene__text:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 33px 50px 0 0;
    border-color: #000000 transparent transparent transparent;
    bottom: -33px;
    left: 77%;
    margin-left: -25px;
}

.home-scene__character {
	width: 300px;
	height: 300px;
	background-image: url('../img/avatar.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 0 0;
	animation-name: walk; 
	animation-duration:0.5s;
	animation-iteration-count: infinite;
    animation-timing-function: steps(3);
} 

@keyframes walk {
    0% {
        background-position: 00% 0%;
    }
	100% {
		background-position: 100% 0;
	}
}

/* CV */
/* nav */
.cv nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}

.cv nav ul li {
    padding:2em 1em;
    margin:1em;
    border: 1px solid grey;
    box-shadow: 3px 3px 15px black;
    width:80%;
    position: relative;
    font-size: 1.2em;
}
.cv-menu {
    display: none;
}
.cv-menu__inner {
    position: absolute;
    width:20%;
    top:0;
    bottom:0;
    left:0;   
}
.cv-menu__inner--formation {
    background-color: #00bcd4;
}
.cv-menu__inner--experiences {
    background-color: #e91e63;
}
.cv-menu__inner--competences {
    background-color: #ffeb3b;
}
.cv-menu__inner--divers {
    background-color: #9e9e9e;
}
.cv-section {
    color:var(--color-bg);
    position: relative;
    font-size: 0.8em;
    z-index: -1;
    margin:0 auto;
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    left: -10px;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }
  .ribbon::before {
    top: 0;
    right: 0;
  }
  .ribbon::after {
    bottom: 0;
    left: 0;
  }

  .ribbon--blue span {
    background-color: #00bcd4;
  }
  .ribbon--blue::before,
  .ribbon--blue::after {
    border: 5px solid #2980b9;
  }

  .ribbon--red span {
    background-color: #e91e63;
  }
  .ribbon--red::before,
  .ribbon--red::after {
    border: 5px solid #9c093b;
  }
  .ribbon--yellow span {
    background-color: #ffeb3b;
  }
  .ribbon--yellow::before,
  .ribbon--yellow::after {
    border: 5px solid #d8c30f;
  }
  .ribbon--grey span {
    background-color: #9e9e9e;
  }
  .ribbon--grey::before,
  .ribbon--grey::after {
    border: 5px solid #565652;
  }


.cv-section:nth-child(even) {
    background-color: var(--color-1);   
}

.cv .scroll {
    display: none;
}

.cv-section__container {
    margin:0 auto;
    padding: 0 .5em;
    position: relative;   
}
.cv-section__infos {
    max-width:600px;
    margin:2em auto;
    border-radius: 5px;
    padding:2em 3em;
}

.cv-section__infos i {
    position: relative;
    top:-1em;
    font-size: 0.5em;
    padding:0;
   
}
.cv-section__infos p:first-child {
    font-weight: bold;
    font-size: 1.3em;
} 

.cv-section__infos .dates {
    font-size: 1em;
    font-style: italic;
}
.cv-section .cv-section__infos{
    border:1px solid black;
    position: relative;
    z-index: -1;
}
.cv-section .cv-section__infos p:first-child{
   position: absolute;
   background-color: var(--color-1);
   padding:0 .5em; 
   top:0;
   transform: translateY(-50%);
   z-index: 100;
}
.cv-section:nth-child(3) .cv-section__infos p:first-child{
    background-color: var(--color-secondary);
 }
/* Compétences */
#competences {
    background-color: var(--color-1);
}
.skills-section {
    border-top:1px solid black;
    width:100%;
    position: relative;
    padding:3em 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
}
.skills-section h3 {
    position: absolute;
    top:0;
    transform: translateY(-50%);
    background-color: var(--color-1);
    font-size: 2em;
   
}
.skills img {
    width:60%;  
    height:10em;
    margin:1em;
}

.skills-section__card {
    width:100%;
    background: rgba( 255, 255, 255, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin:1em 0;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skills-section__card--title {
    background-color: var(--color-2);
    padding:.5em;
    display: flex;
    flex-direction: column;
    color: var(--color-1);
    border-bottom: 2px solid #5300c7;
}
.skills-section__card--title i {
  font-size: 2em;
  margin:.5em;
  padding:0; 
}
.skills-section__card--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding:1em;
}

/* Divers */
#divers {
    outline: none;
    border:none;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
  }

.divers-card {
    margin:1em auto;
    background: rgba( 150, 89, 235, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    font-size: 1.2em;
    line-height: 1.2em;
    max-width:500px; 
    width:95%; 
}
.divers-card .divers-card__body {
    background-color: rgb(255 247 247 / 41%);
    padding:2em;
}
.divers-card i {
    font-size: 4em;
    margin:1em auto;
    color:black;   
}
/* Contact */

#contact {
    background-color: var(--color-1);
    padding:2em;
    margin:auto;
   
}
.contact-infos {
    padding:0;
}
.contact-infos h2 {
    font-size: 1.5em;
    margin:1em 0;
    font-weight: bold;
}
.contact-infos p {
    padding:.5em;
}
.contact-infos a:hover {
    border-bottom: 1px solid var(--color-2);
}
.fa-linkedin{
   font-size: 2em;
}
#contact form {
    border-top:3px solid var(--color-2);
    margin:auto;
    max-width:800px;
    padding:2em 0;
 } 
#contact .form-control {
    display: flex;
    flex-direction: column;
    margin:.5em auto;      
}
#contact .form-control.message textarea {
    height:5em;
}
#contact input, textarea {
    display: block;
    padding:1em;
    outline: none;
    border:none;
    background-color: rgb(211, 205, 204);
}
#contact label {
    padding:.5em;
    order:-1;
    background-color: var(--color-bg);
    color:var(--color-1);
    transition: all 0.5s;
}
#contact input:focus + label, #contact textarea:focus + label  {
    background-color: var(--color-2);
}
#submitBtn {
    font-size: 1.3em;
    border-radius: 5px;
}
#submitBtn:hover {
    background-color: var(--color-2);
    color: var(--color-1);
    transition: all .5s;
}

.error {
    height:1em;
    color: var(--color-error);
    font-size: 0.8em;
}

/* Portfolio */
.portfolio__section {
    background-color: var(--color-1);
}
.portfolio-description {
    border:1px solid black; 
    max-width: 1200px;
    margin:2rem auto;
    padding:1.5em;
    line-height: 1.5em;
}
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-grow: 1;
    max-width: 1200px;
}
.portfolio__section-select {
    margin:1em auto;
    padding:1em;
    border-radius: 10px;
    outline: none;
    border:none;
    color: var(--color-1);
    background-color: var(--color-bg);
    
}
.portfolio__image {
    margin:.5rem auto;
    max-width:500px;
    width:100%;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    transition:.5s ease;
    height: 5em;
    position: relative;   

}
.active-img {
    flex-grow:100;
    min-height: 30vh;
    height: 30vh;
    max-width: 100%;  
}

.portfolio__title {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.5em;
    background-color: #2c28287d;
    color:var(--color-1);
}
.active-img .portfolio__title {
    display: none;
}
.portfolio__text-container {
    display: none; 
    background: linear-gradient(354deg, black 0%, transparent 80%);
    width:100%;
    height: 100%; 
}
.active-img .portfolio__text-container {
    display: flex;
}
.portfolio__text {
    width:100%;
    color: var(--color-1);
    font-style: italic;
    font-weight: bold;
    font-size:1.3em;
    line-height: 1.5em;
    text-align: center;
    align-self: flex-end;
}
.portfolio__badges {
    display: flex;
    flex-wrap: wrap;
    padding:1em;
    justify-content: center; 
}
.portfolio__badge {
    margin:.3em;
    padding: 0 1em;
    max-width:fit-content;
    font-size: 0.7em;
    opacity:0.85;  
}
.portfolio__link {
    font-size: 0.5em;
}
.portfolio__link:hover {
    color: var(--color-2);
}

/* footer */
footer {
    padding:2em;
    margin-bottom:3em;
}

@media(max-width:1100px)  {
    .portfolio__title {
        top:0;
    }
}
@media(min-width:768px)  {
    #contact {
        background:url('../img/contact.jpg');
        background-size: cover;
     }
     #contact .contact-infos, #contact form {
         background-color: white;
         width:80%;
         margin:auto;
         max-width:1000px;
         padding:2em;
         opacity:0.8;
     }
  
    #contact .form-control {
        flex-direction: row; 
    }
    #contact .form-control.message { 
        height:5em; 
    }
    #contact .form-control.message textarea {
        height:100%;
    }
    #contact label {
        width:30%;
        padding:1em;
    }
    #contact input:not(#submitBtn), textarea {
        width:70%;
        padding:.5em;
    }
    #submitBtn {
        width: 100%;
        margin:0 auto;
    }
    .skills-section {
        flex-direction: row;
       
    }
    .skills img, .skills-section__card {
        width:40%;
        margin:1em;
    }
    .skills-section__card {
        height:20em;
        line-height: 1.3em;
       
    }
    .skills-section__card--title {
        height:8em;
        min-height: 8em;
    }
    .skills img {
        height: 15em;
    }
    .divers-container {
        display: flex;
        flex-wrap: wrap;
    }
    .divers-card {
        width:40%;
        display:flex;
        flex-direction: column;
    }
    .divers-card__body {
       flex-grow: 1;
    }
}


@media (min-width:1100px) {

    /* General */
    #home {
        background: url('../img/web.jpg');
        background-size: cover;
    }
    #main-nav {
        position: static;
        background-color: transparent;
        width:auto;
        font-size: 1.2em;
    }
    #main-nav ul {
        border:none; 
    }
    #main-nav ul li {
        padding:1em 2em;
        font-family: 'Nanum Gothic', sans-serif;  
        color:var(--color-bg); 
    }
    #main-nav .menu-icon {
        visibility: hidden;
    }
    #main-nav ul .active {
        color: var(--color-2);
        background-color: transparent;    
    }
    #main-nav ul li:hover {
        color: var(--color-2);
        background-color: transparent;   
        --d: 100%;
    }
    #main-nav ul li {
        background: 
            linear-gradient(currentColor 0 0) 
            bottom /var(--d, 0) 3px 
            no-repeat;
        transition:0.5s; 
    }
    
    #hamburger ul, #hamburger ul li {
        display: inline-block;
    }
    
    /* Home  */
    #home {
        flex-direction: row; 
        min-height: 90vh;  
        justify-content: space-between; 
    }
    .home-letters {
          backdrop-filter: blur( 0px );
          font-size: 3em;
          align-self: flex-start;
          width: fit-content;
    }
    .home-scene__character {
        margin-right:5em;
    }  
    /* Contact */
   
    #contact form {
        border:none;
    }
    /* Portfolio */
    .portfolio {
        flex-direction: row;
        margin:2rem auto;  
        flex-wrap: wrap;
    }
    .portfolio__image {
        width:25%;
        min-height: 40vh;
        max-height:40vh;
        border:none;
        margin:.5rem;
       
    }
    .active-img.portfolio__image {
        flex-grow: 0;
        width: 40%;
    }
   
    .portfolio__title {
        align-items: flex-end;
        padding: .5em 0 ;
    }
    .portfolio__text-container {   
        align-self: flex-end;
    }

    .cv .scroll {
        display: block;
        font-size: 5em;
        margin:1em 0;    
    }
    .scroll-container {
        padding:3em;
    }
   
   
    /* CV */
    .cv nav {
        margin:3em auto;
    }
    .cv nav ul {
        flex-direction: row; 
    }
    .cv nav ul li {
        width:40%;
        padding:3em 1em;
    }
    .cv-menu {    
       display: block; 
    }
    .cv-menu__inner {    
        width:10%; 
    }
    .cv-section {
        padding:3em 0;
    }
    .cv-section__container {
        padding:3em 0;
    }
    .cv-section__container:not(.skills)::before {
            content: '';
            position:absolute;
            left:50%;
            width:3px;
            top:1em;
            bottom: 1em;
            background:var(--color-bg);
            z-index:1;     
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    
   .cv-section .cv-section__infos {
        border:none;
        z-index:1;
    }
    .cv-section:nth-child(3) .cv-section__infos p:first-child{
        position: static;
    }
    .cv-section__infos{
        background-color: transparent;
        max-width: 100%;
        width:50%;
        margin:0;
        position: relative;
        z-index: 1;     
    }
    .cv-section__timeline {
        height:2em;
        width:2em;
        position: absolute;
        top:50%;
        border-radius: 50%;
        z-index: 100;
    }
    .left .cv-section__timeline {
        right:0;
        transform: translate(50%, -50%);
        background-color: var(--color-2);
    }
    .right .cv-section__timeline {
        left:0;
        background-color: var(--color-bg);
        transform: translate(-50%, -50%);
    }
    .clear {
        clear: both;
    }
    .skills img, .skills-section__card {
        width:28%; 
    }
    .skills img {
        height: 18em;
    }
    .divers-container {
        display: flex;
        flex-direction: row;
    }
    .divers-card {
        width:30%;
        display: flex;
        flex-direction: column;
    }
    .divers-card .divers-card__body {
        height:40%;
        flex-grow: 1;
    }   

}