# On commence par activer la réécriture d'URL dans Apache
RewriteEngine On 

# On délégue à Apache l'extraction de la partie statique de l'URL
# Cette information sera ensuite stockée dans une variable d'environnement
# "/S05/E02/S05-projet-oShop-charlesen/public" ==> $_SERVER['BASE_URI']
RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
RewriteRule ^(.*) - [E=BASE_URI:%1]

# Apache si tu vois des requetes vers des dossiers qui existent déjà (css, img, vendor, ...)
# Fais comme d'habitude
# Mais activer la réécriture d'URL SEULEMENT si l'URL demandée
# n'est pas un dossier qui existe.
RewriteCond %{REQUEST_FILENAME} !-d

# Mais activer la réécriture d'URL SEULEMENT si l'URL demandée
# n'est pas un fichier qui existe.
RewriteCond %{REQUEST_FILENAME} !-f

# Réécrire l'URL pour la correspondance 
# entre nos chemins "virtuels" (/products) et les vrais chemins (index.php?page=products)
# /products ==> index.php?page=products
# /store    ==> index.php?page=store
# /blog    ==> index.php?page=blog
# /blabla    ==> index.php?page=blabla
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]